.historico {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 480px;
}

.historico h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

table thead tr {
    padding: 10px 20px 10px 20px;
}

table thead th {
    padding: 10px 12px;
    text-align: left;
}

td {
    padding: 12px;
    border-bottom: 1px solid #eee;
}