.historico {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.historico {
    grid-column: 2;
    min-height: 500px;
}

.historico h3 {
    text-align: center;
    margin-bottom: 15px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

th {
    text-align: left;
    border-bottom: 1px solid #ccc;
    padding: 8px;
}

td {
    padding: 8px;
    border-bottom: 1px solid #eee;
}