* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-areas: 
        "header header"
        "sidebar content";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    background-color: #e6e8e6;
    font-family: Helvetica, sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

aside {
    grid-area: sidebar;
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 0;
    z-index: 900;
}

.content {
    grid-area: content;
    padding: 100px 40px 40px 40px;
    margin-left: 90px;
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}