* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    background-color: #e6e8e6;
    font-family: Helvetica, sans-serif;
    padding-top: 80px;
    padding-left: 90px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.sidebar {
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 0;
    z-index: 900;
}

.content {
    padding: 40px;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    gap: 20px;
}