.card {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.cardTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #444;
}

.cardBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card h2 {
    font-size: 28px;
    margin-top: 10px;
    text-align: center;
}