.historico {
    background-color: #9AA2A5;
    width: 1000px;
}

.filterHeader {
    display: flex;
    justify-content: space-between;
}

.filterGroup {
    display: flex;
    justify-content: space-between;
}

.tableWrapper {
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}

.tableWrapper table thead {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 2;
}