* {
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100vh;
    background-color: #e6e8e6;
    font-family: Helvetica, sans-serif;
    padding-top: 80px;
    padding-left: 90px;
    position: relative;
}

.content {
    padding: 40px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.titlePage {
    display: flex;
    justify-content: space-between;
}

.titlePage button {
    height: 30px;
    width: 100px;
    background-color: #ffaa00;
    border-radius: 5px;
    cursor: pointer;
}